@font-face {
  font-family: 'billabongregular';
  font-style: normal;
  font-weight: normal;
  src: url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot'),
       url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.woff') format('woff'),
       url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.ttf') format('truetype'),
       url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.svg#billabongregular') format('svg');
}

h1 {
  font-family: 'billabong', 'billabongregular';
  font-size: 5rem;
  font-weight: 100;
  letter-spacing: -1px;
  margin: 2rem 0;
  text-align: center;
  text-shadow: 0px 0.3rem 0 rgba(18, 86, 136, 0.11);
}

h1 a {
  color: #125688;
  text-decoration: none;
}

h1 a:focus {
  outline: 0;
}

/* Responsive design (mobile-first) */
/* Taken from: http://tinyurl.com/yb3nekau */
/* Also see: http://codeitdown.com/responsive-font-size-css/ */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1 {
    font-size: 8rem;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h1 {
    font-size: 9rem;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  h1 {
    font-size: 10rem;
  }
}
