.post {
	position: relative !important;
}

.likes-heart {
	background: url("http://f.cl.ly/items/3Y373q2Q3J3Y1j203n0m/Bitmap-3.png") center no-repeat;
	background-size: contain;
	color: #125688;
	display: block;
	font-size: 0.8rem;
	left: 50%;
	opacity: 0;
	padding: 1rem;
	pointer-events: none;
	position: absolute;
	top: 35%;
	margin: 0 auto;
	transition: all 0.5s;
	transform: translateX(-50%) translateY(-50%) scale(5);
}

.likes-heart.like-enter {
	transition: all 0.2s;
	transform: translateX(-50%) translateY(-50%) scale(1);
	opacity: 1;
}

.likes-heart.like-enter.like-enter-active {
	transform: translateX(-50%) translateY(-50%) scale(5);
}

.likes-heart .like-leave-active {
	display: none;
}